body {
  padding: 0;
  margin: 0;
  background: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

header,
main,
footer {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  background: url("./images/Rectangle.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

h1,
h5,
h2,
h3,
p {
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.navigation-wrapper {
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
  margin-bottom: 220px;
}

.header-navigation {
  display: flex;
  justify-content: flex-end;
}

.header-navigation a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 40px 20px 0 20px;
  box-sizing: border-box;
  height: 100px;
}

.header-navigation a:last-child {
  margin: 0;
}

.header-navigation a:hover {
  border-bottom: 2px solid #ffffff;
  background-color: rgba(161, 161, 161, 0.7);
}

.banner-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 335px;
}

.banner-area h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.banner-area h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
  max-width: 830px;
  text-align: center;
  margin-bottom: 50px;
}

.banner-area a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #4985ff;
  border-radius: 30px;
  text-decoration: none;
  padding: 13px 36px;
}

.works {
  padding: 110px 0 105px 0;
}

.works {
  background: #f0f0f0;
}

.works h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
  margin: 0 auto 50px auto;
  max-width: 830px;
}

.works p {
  text-align: center;
  margin: 0 auto 80px auto;
  max-width: 730px;
}

.row {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 100%;
  max-width: 110px;
  height: 110px;
  padding: 10px;
}

.row2 {
  border: 1px solid #4985ff;
  box-sizing: border-box;
  border-radius: 100%;
  max-width: 90px;
  height: 90px;
  padding: 25px 23px;
  box-sizing: border-box;
}

.row2 img {
  max-width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.row-blok {
  height: 110px;
  margin-right: 17px;
}

h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 12px;
}

.text-work p {
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  max-width: 222px;
  margin: 0;
  text-align: start;
}

.work-block1 {
  display: flex;
  justify-content: start;
  margin-bottom: 55px;
}

.text-work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 55px;
}

.work-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.work-flex-2 {
  display: flex;

}

.work-flex {
  margin-bottom: 55px;
}

.work-block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-flex a {
  background: #4985ff;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 13px 36px;
}

.company {
  background: #f6f6f8;
  padding: 100px 0 90px 0;
}

.company-flex {
  display: flex;
  justify-content: space-between;
}

.company-flex h2 {
  align-items: flex-start;
  margin-bottom: 40px;
  max-width: 424px;
}

.company-text p {
  margin-bottom: 30px;
}

.company-text {
  margin: 52px 120px 0 0;
}

.company-text a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4985ff;
}

.company-img img {
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  max-width: 500px;
}

.projects-wrapper {
  background: #fafafa;
}

i {
  color: #4985ff;
  font-size: 30px;
}

.projects-wrapper .container {
  border-top: 1px solid #e0e0e0;
  padding: 70px 0;
}

.namb {
  font-size: 36px;
  line-height: 36px;
  color: #000;
}

.project-flex {
  display: flex;
  justify-content: space-between;
  max-width: 105px;
  align-items: flex-end;
  margin-bottom: 17px;
  max-width: 100px;
}

.projects-flex {
  display: flex;
  flex-direction: column;
}

.proj-flex {
  display: flex;
  justify-content: space-between;
}

.screen5 {
  background: #FFF url("./images/Rectangle3.png") no-repeat;
  padding-top: 100px;
  padding-bottom: 85px;
}

.screen5 img {
  margin-bottom: 30px;
}

.screen5-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.screen5-text h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #ffffff;
  max-width: 540px;
}

.block-flex {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.number {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #4985FF;
  margin-right: 5px;
  }

.text-line {
  display: flex;
  margin-bottom: 18px;
}

.block-flex p {
  margin-bottom: 30px;
}

.block-flex a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4985ff;
}

.block-wrap-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.screen5-text a {
  background: #4985FF;
  border-radius: 30px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  padding: 13px 36px;
}

.line-line {
  border: 1px solid #E0E0E0;
  margin-bottom: 85px;
}

.screen6 {
  background: #F6F6F8;
  padding: 100px 0 130px 0;
}

.screen6 h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.screen6 p {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  max-width: 730px;
  margin: 0 auto 70px auto;
}

.screen6-img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.screen6-img .block4 {
  margin-right: 0;
}

.scr6-block {
  margin-right: 30px;
}

.screen6-flex a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #4985ff;
  border-radius: 30px;
  text-decoration: none;
  padding: 13px 36px;
}

.screen6-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen7 {
  background: #fff url('./images/Rectangle6.jpg') no-repeat;
  padding: 70px 0 85px 0;
}

.screen7-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen7-flex h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.screen7-flex p {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 70px;
}

.screen7-flex iframe {
  margin-bottom: 85px;
  max-width: 100%;
}

.screen8-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen8-flex h3 {
  margin-bottom: 20px;
}

.screen8-flex p {
  margin-bottom: 30px;
}

.text8 {
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-bottom: 85px;
}

footer {
  background: #F6F6F8;
  padding: 70px 0 30px 0;
}

.fa-envelope, .fa-phone-volume, 
.fa-map-marker-alt, .fa-chevron-right {
  color: #999999;
  font-size: 15px;
}

.footer-block p {
  max-width: 225px;
  font-size: 14px;
  line-height: 22px;
}

.info-block {
  width: 15px;
  margin-right: 15px;
}

.info-flex {
  display: flex;
  margin-bottom: 30px;
}

.footer-block h3 {
  margin-bottom: 35px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.line-line .footer-wrapper {
  margin-bottom: 30px;
}

.prava {
  text-align: center;
}

#mail {
  padding: 15px 117px 13px 33px;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0 0 30px;
}

.placeholder {
  font-size: 13px;
  line-height: 21px;
  color: #999999;
}

.btext {
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
  padding: 13px 36px 15px 26px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.form-flex {
  display: flex;
  margin-bottom: 35px;
}

/* Additional */

.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media screen and (max-width: 1110px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

   .projects-wrapper .container{
    padding: 70px 10px;
  }

  .block-wrap-flex {
    flex-wrap: wrap;
  justify-content: space-around;
  }

  .screen5-wrapper .screen5-text {
    justify-content: space-around;
  }

  .block-flex {
    margin-bottom: 40px;
  }

  .block-wrap-flex {
    margin-bottom: 60px;
  }

  .line-line {
    margin-bottom: 40px;
  }

  .screen6-img {
    justify-content: space-around;
  }

  .scr6-block {
    margin: 0 10px 40px 0;
  }

  .scr6-block :last-child {
    margin-right: 0;
  }

  .screen6-img {
    margin-bottom: 0;
  }

  .proj-flex {
      justify-content: space-around;
  }
}


@media screen and (max-width: 820px) {
  .company-text {
    margin: 0 15px 0 10px;
  }

  .company-img img {
    max-width: 400px;
  }

  .screen5-text {
    flex-direction: column;
  }

  .screen5-text h2 {
    margin-bottom: 25px;
  }

  .screen5-text h2 {
    text-align: center;
  }

  .works {
    padding-bottom: 90px;
  }
  
  .footer-wrapper {
    margin-bottom: 50px;
  }

  .footer-block h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .footer-block p {
    font-size: 12px;
    line-height: 20px;
  }

  .prava {
    font-size: 16px;
    line-height: 25px;
  }

  .banner-area h1 {
    font-size: 40px;
  line-height: 56px;
  }
}

@media screen and (max-width: 736px) {
  .work-flex-2 {
    flex-wrap: wrap;
  justify-content: space-around;
  }
}
